@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font: 'Poppins';
    --bg:#fafafa;
    --bg-secondary: #e6e6e6;
    --text-color: #141414;
    --icons-color : #181818;
    --header-color : #cecece;
    --placeholder-color : #383838;
    --border: 1px solid #a09f9f8f;
    --border-color: #a09f9f8f;
    --button-header: #8886868f;
    --select-background: #fff;
    --disabled-button-bg: #d3d3d3;
}

.dark-mode{
    --bg:#222222;
    --bg-secondary: #313131;
    --text-color: #ebebeb;
    --icons-color : #020202;
    --header-color : #383535;
    --placeholder-color : #c7c7c7;
    --border: 1px solid #a09f9f8f;
    --border-color: #a09f9f8f;
    --button-header: #8886868f;
    --select-background: #2b2b2b;
    --disabled-button-bg: #d3d3d3;
}

.tablelib-cont{
    background-color: var(--bg);
    font-family: var(--font) !important;
    color: var(--text-color);
    padding: 10px;
}

.tablelib svg{
    width: 30px !important;
}

.tablelib-cont svg path{
    fill: var(--icons-color);
}

.tablelib-responsive{
    overflow-x: auto;
}

.tablelib{
    width: 100%;
    color: inherit;
    font-family: inherit;
    border-radius: 4px;
    border-collapse:separate;
    border-spacing: 5px 10px;
    border: var(--border);
    text-align: left;
    padding: 10px;
}

.tablelib th, .tablelib td{
    font-size: 14px;
    min-width: 120px;
    color: inherit;
    border-radius: 4px;
}

/*TOP OF THE TABLE*/
.tablelib-top{
    font-family: inherit;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/*SELECT*/
.tablelib-select-cont{
    display: flex;
    align-items: center;
    gap: 15px;
}

.tablelib-select{
    background-color: var(--select-background);
    font-family: inherit;
    color: inherit;
    padding: 8px;
    cursor: pointer;
    border: var(--border);
    border-radius: 3px;
    outline: none;
}

/*INPUT*/
.tablelib-input{
    border-radius: 10px;
    outline: #2b2b2b;
    border: 1px solid var(--border-color);
    color: inherit;
    background-color: var(--select-background);
    font-family: inherit;
}

.tablelib-input::placeholder{
    color: var(--placeholder-color);
}

/*CLEAR FILTERS BUTTON*/
.tablelib-button{
    text-align: center;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    border-radius: 4px;
    transition: .2s background ease;
}

.tablelib-button:hover{
    background-color: var(--border-color);
}

.tablelib-button svg{
    width: 30px;
}

/*FILTERS*/
.tablelib-filters{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: var(--border);
}

.tablelib-filters .filters-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.filters-container .filter{
    display: flex;
    flex-direction: column;
}

.filter label{
    font-size: 15px;
}

.filter select{
    background-color: var(--select-background);
    font-family: inherit;
    color: inherit;
    padding: 8px;
    cursor: pointer;
    border: var(--border);
    border-radius: 3px;
    outline: none;
}

/*HEADER*/
.tablelib th{
    text-align: center;
    font-weight: 600;
    flex-direction: row;
    cursor: pointer;
    padding: 10px;
    border: 1px solid transparent;
    transition: border .3s ease;
    transition: background .3s ease;
}

.tablelib th:hover{
    border-color: var(--border-color);
}

.tablelib-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    > button > svg{
        width: 20px !important;
    }
}

/*BODY*/
.tablelib tbody td{
    padding: 10px;
    margin: 10px;
    border: var(--border);
}

.tablelib tbody tr{
    text-wrap: nowrap;
    min-width: 120px;
    border: var(--border);
}

/*FOOTER*/
.tablelib-pagination{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.tablelib-pagination button{
    color: inherit;
    font-family: inherit;
    width: 50px;
    height: 50px;
    padding: 1rem;
    background: none;
    transition: .2s background ease-in;

    > svg{
        width: 15px;
    }

    &.disabled{
        cursor:not-allowed;
        opacity: .5;
        background: none;
    }

    &.active{
        background-color: var(--border-color);
    }
}

.tablelib-pages{
    display: flex;
    gap: 10px;
    flex-direction: row;
}

@media (max-width: 600px) {
    .datatable-top{
        align-items: center;
        flex-direction: column;

        .select-cont{
            margin-bottom: 10px;
        }
    }
}